/* cores globais */
:root {
  --primary-color: #3c184e;
  --secondary-color: #fff;
  --bg-color: #ffffffc4;
  --box-shadow-color: #1f26875e;
  --image-bg-color: #0000005c;
  --transparence-color-effect: #ffffffc4;
  --font-text: sans-serif;
  --fonte-italico: italic;
  --fonte-negrito: 700;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-text);
}
.secao {
  padding: 120px 80px;
}
.destaque {
  font-weight: 700;
  font-style: italic;
}
a {
  text-decoration: none;
}

.banner {
  background-image: url("../img/banner-topo.jpg");
  background-position: center;
  background-size: cover;
}
.banner .empresa {
  max-width: 250px;
  color: var(--primary-color);
}
.empresa p:nth-child(1) {
  font-size: 35px;
  margin: 0 0 5px 0;
}
.empresa p:nth-child(2) {
  font-size: 14px;
  text-align: center;
  margin: 0;
}
.empresa img {
  width: 35px;
  margin-right: 5px;
}
.banner .container {
  max-width: 1024px;
  border-radius: 5px;
  padding: 40px;
  margin: 70px auto 0 auto;
  background-color: var(--bg-color);
  box-shadow: 0 8px 32px var(--box-shadow-color);
  text-align: center;
}
.banner .container h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 40px;
  color: var(--primary-color);
}
.banner .container p {
  width: 200px;
  padding: 10px 25px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  font-size: 20px;
  color: var(--secondary-color);
}

.banner .container a {
  text-decoration: none;
  color: var(--secondary-color);
}
.banner .container a:hover {
  filter: brightness(0.9);
}
.banner .container img {
  width: 100%;
  max-width: 20px;
}

.servicos h3 {
  font-size: 36px;
  color: var(--primary-color);
  text-align: center;
  margin: 0 0 45px 0;
}

.servicos--list {
  max-width: 800px;
  margin: 0 auto 50px auto;
  color: var(--primary-color);
}
.servicos--list ul {
  list-style-type: square;
}
.servicos--list li {
  font-size: 20px;
  margin: 0 0 20px 0;
}
.servicos--list span {
  font-weight: bold;
  font-style: italic;
}
.servicos--images {
  max-width: 800px;
  margin: 0 auto;
}
.servicos--images img {
  border-radius: 5px;
  box-shadow: 3px 6px 10px 6px #0000005c;
}

.redes-sociais {
  background-color: var(--primary-color);
  text-align: center;
}
.redes-sociais p {
  width: 800px;
  margin: 0 auto 50px auto;
  font-size: 40px;
  color: var(--secondary-color);
}
.redes-sociais .container-images img {
  margin: 0 20px;
  width: 50px;
  height: 50px;
}
